doctype html
html(lang=settings.theme.lang)
  head
    meta(charset=settings.theme.charset)

    for value, name in settings.theme.meta
      meta(name=name, value=value)

    base(href='/')
    title= (title ? title + ' - ' : '') + settings.theme.title

    each style in settings.theme.stylesheets
      link(rel='stylesheet', href=style)

  body
    include incl/navbar.pug

    if flash
      include incl/flash.pug

    block content

    include incl/footer.pug
    
    each script in settings.theme.javascript
      script(src=script)
